<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 若日志配置是 Logback，用 SLF4J（Logback 通常配合 SLF4J 使用） -->
        <setting name="logImpl" value="SLF4J"/>
        <!-- 是 Log4j 2，用 LOG4J2 -->
        <!-- <setting name="logImpl" value="LOG4J2"/> -->
    </settings>

</configuration>