<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-rebuild-web:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_rebuild_web_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-rebuild-web" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="spring-rebuild-web/web/Web" />
    </root>
  </artifact>
</component>