<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapperment 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CRUD.BaseMapper.UseeMapper">
    <select id="selectByName" resultType="CRUD.resource.Usee">
        select * from shuihu where name = #{name}
    </select>
    <select id="pageByName" resultType="CRUD.resource.Usee">
        select * from shuihu where name = #{name}
    </select>
</mapper>
    