<?xml version="1.0" encoding="UTF-8"?>
<beans>
<!--    组件扫描-->
    <component-scan base-package="test"/>
<!--    视图-->
    <bean class="mvc.view">
        <property name="prefix" value="web/"/>
        <property name="suffix" value=".html"/>
    </bean>
<!--    拦截器-->
    <interceptors>
        <bean class="mvc.interceptor.Interceptor1.java"/>
        <bean class="mvc.interceptor.Interceptor2.java"/>
    </interceptors>
</beans>