<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD jdbcTemplate.Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="resource.properties"/>
    <settings>
        <setting name="logImpl" value="SLF4J"/>
    </settings>

    <typeAliases>
        <typeAlias type="resource.Usee" alias="Usee"/>
<!--        <typeAlias type="resource.Usee/>-->
    </typeAliases>

    <environments default="develop">
        <environment id="develop">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${mybatis.driver}"/>
                <property name="url" value="${mybatis.url}"/>
                <property name="username" value="${mybatis.username}"/>
                <property name="password" value="${mybatis.password}"/>
                <property name="poolMaximumActiveConnections" value="2"/>
                <property name="poolMaximumIdleConnections" value="3"/>
                <property name="poolMaximumCheckoutTime" value="3000"/>

            </dataSource>
        </environment>

        <environment id="unpooled">
            <transactionManager type="JDBC"/>
            <dataSource type="UNPOOLED">
                <property name="driver" value="${mybatis.driver}"/>
                <property name="url" value="${mybatis.url}"/>
                <property name="username" value="${mybatis.username}"/>
                <property name="password" value="${mybatis.password}"/>
            </dataSource>
        </environment>

        <environment id="druid">
            <transactionManager type="JDBC"/>
            <dataSource type="resourcce.DruidDataSourceFactory">
                <property name="driver" value="${mybatis.driver}"/>
                <property name="url" value="${mybatis.url}"/>
                <property name="username" value="${mybatis.username}"/>
                <property name="password" value="${mybatis.password}"/>
                <property name="initialSize" value="2"/>
                <property name="maxActive" value="3"/>
                <property name="maxWait" value="3000"/>
            </dataSource>
        </environment>

    </environments>
    <mappers>
        <mapper resource="CRUD.xml"/>
        <mapper resource="resource/action.xml"/>
    </mappers>

</configuration>