<?xml version="1.0" encoding="UTF-8"?>
<!-- 根标签：Spring IoC容器的入口 -->
<beans>
    <bean id="userBean" class="pojo.User">
        <property name="username" value="张三"></property>
        <property name="id" value="18"></property>
    </bean>

    <bean id="userMapper" class="pojo.UserMapper"/>

    <bean id="service" class="pojo.UserServer">
        <property name="userMapper" ref="userMapper"></property>
    </bean>

</beans>